<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>
<!-- Default Statcounter code for Canzhiye.com
http://canzhiye.com -->
<script type="text/javascript">
var sc_project=9920587; 
var sc_invisible=1; 
var sc_security="f1f604fe"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/9920587/0/f1f604fe/1/" alt="Web
Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
</footer>