* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	color: #444;
}

a, a:visited {
	color: #7792AD;
}

a.post-link {
	color: #444;
}

a.site-title {
	text-decoration: none;
	letter-spacing: inherit;
	font-weight: inherit;
}

.site-nav .page-link {
	color: #555;
}

.site-header {
	border-top: 0px;
	background: #1756a924;
}

#mondrian {
	height: 200px;
}